<div class="container">   

    <div class="head">
        <div class="logo">
            <label class="label-app-name-1st-row">COUNT YOUR</label>
            <label class="label-app-name-2nd-row">POINTS</label>
            <label class="label-copyright">© SoftClub edition</label> 
        </div>     
        <button class="btn-new-game" (click)="newGame()" routerLink="">New game</button>
    </div>


    <div class="menu-container">
        <div class="labels-container">
            <label class="dart-number-label">Dart 1</label>
            <label class="dart-number-label">Dart 2</label>
            <label class="dart-number-label">Dart 3</label>
        </div>

        <div class="players-container">
            <div class="score-input-container" *ngFor="let player of players; let i = index;">
                <label class="player-name-label">{{player[0]}}</label>

                <div class="inputs-column">
                    <input type="number" value="" id="score1Try{{i}}Player" style="margin-top: 5px;" class="score-input">
                    <input type="number" value="" id="score2Try{{i}}Player" style="margin-top: 5px;" class="score-input">
                    <input type="number" value="" id="score3Try{{i}}Player" style="margin-top: 5px;" class="score-input">    
                </div>

                <div class="buttons-column">
                    <button class="multiply-btn" (click)="setMultiply(1,1,i)" [class.multiply-btn-selected]="updateMultiply(1,1,i)">1x</button>
                    <button class="multiply-btn" (click)="setMultiply(1,2,i)" [class.multiply-btn-selected]="updateMultiply(1,2,i)">2x</button>
                    <button class="multiply-btn-radius" (click)="setMultiply(1,3,i)" [class.multiply-btn-radius-selected]="updateMultiply(1,3,i)">3x</button>             
                    <button class="multiply-btn" (click)="setMultiply(2,1,i)" [class.multiply-btn-selected]="updateMultiply(2,1,i)">1x</button>
                    <button class="multiply-btn" (click)="setMultiply(2,2,i)" [class.multiply-btn-selected]="updateMultiply(2,2,i)">2x</button>
                    <button class="multiply-btn-radius" (click)="setMultiply(2,3,i)" [class.multiply-btn-radius-selected]="updateMultiply(2,3,i)">3x</button>                   
                    <button class="multiply-btn" (click)="setMultiply(3,1,i)" [class.multiply-btn-selected]="updateMultiply(3,1,i)">1x</button>
                    <button class="multiply-btn" (click)="setMultiply(3,2,i)" [class.multiply-btn-selected]="updateMultiply(3,2,i)">2x</button>                                
                    <button class="multiply-btn-radius" (click)="setMultiply(3,3,i)" [class.multiply-btn-radius-selected]="updateMultiply(3,3,i)">3x</button>                      </div>
                </div>                                                
        </div>
        <button class="btn-add-step" type="button" (click)="setPlayers()">Add</button>
        <!-- {{getScores()}} -->
    </div>

    <div class="game-table">
        <div class="players-names-container">
            <label  class="player-name-label-in-game" *ngFor="let player of players; let i = index;">{{player[0]}}</label>
        </div>
        <div class="scoreboard-container">
            <div class="scoreboard-line">

            </div>
        </div>
    </div>


</div>
