<div class="container" [ngClass]="{endgame: checkWinner()}">
        
    <div class="head" >

        <div class="logo">
            <label class="label-app-name-1st-row">COUNT YOUR</label>
            <label class="label-app-name-2nd-row">POINTS</label>
            <label class="label-copyright">© SoftClub edition</label> 
        </div>     

        <div class="btn-container">
            <button class="btn-new-game" (click)="newGame()" routerLink="/settings">New game</button>
        </div>
        
    </div>
    
        <div class="menu-container">
            <div class="labels-container">
                <label class="dart-number-label">Dart 1</label>
                <label class="dart-number-label">Dart 2</label>
                <label class="dart-number-label">Dart 3</label>
            </div>
            
            <form>
                <div [formGroup] = manageScores class="players-container">
                    <div  class="score-input-container" *ngFor="let group of Inputs; let i = index;">
                   
                        <label class="player-name-label"> {{group.controls['name'].value}} </label>
    
                            <div *ngFor="let throw of group.controls['throws'].controls; let j = index;">
                                <ng-container [formGroup]="throw">                              
                                    <div>
                                        <input type="number" class="score-input" formControlName="scores" [class.score-input-error]="throw.controls.scores.invalid && throw.controls.scores.touched"/>
                                            <div *ngIf="throw.controls.scores.errors && throw.controls.scores.touched && !throw.controls.scores.errors?.['required']" class="error-message">Value [0-20], 25 or 50</div>
                                            <div *ngIf="throw.controls.scores.errors?.['required'] && throw.controls.scores.touched" class="error-message">Input required</div>
                                        <button class="multiply-btn" name="multiplier" (click)="setMultiply(j,1,i)" [class.multiply-btn-selected]="checkSelected(j,1,i)" [disabled]="checkBullsEye(j,i)">1x</button>
                                        <button class="multiply-btn" name="multiplier" (click)="setMultiply(j,2,i)" [class.multiply-btn-selected]="checkSelected(j,2,i)" [disabled]="checkBullsEye(j,i)">2x</button>
                                        <button class="multiply-btn-radius" name="multiplier" (click)="setMultiply(j,3,i)" [class.multiply-btn-selected]="checkSelected(j,3,i)" [disabled]="checkBullsEye(j,i)">3x</button>
                                    </div>
                                </ng-container>
                            </div>
    
                    </div>                                  
                </div>
            </form>
            
                <button class="btn-add-step" type="submit" (click)="setPlayers()" [disabled]="isValidationErrors()">Add</button>
            </div>
    
    <div class="game-table">

        <div class="step-column">
            <div class="step-cell" *ngFor="let step of Steps">
                <div class="step-number">
                    <div *ngIf="step !== '0'">{{step}}</div>
                </div>          
            </div>  
        </div>

        <div class="players-names-container">
            <div  class="player-name-label-in-game" *ngFor="let player of players; let i = index;">
                {{player[0]}}
            </div>
        </div>

        <div class="scoreboard-container">      
            <div class="scoreboard-line" *ngFor="let allScores of Scores; let i = index">
                <div class="scores-inline" *ngFor="let playerScores of allScores.scoresRemain">
                    {{playerScores}}
                </div>
            </div>
        </div>

    </div>

</div>

<app-win-message [winner]="winner" *ngIf="checkWinner() === true"></app-win-message>
