<div class="container">
    <div class="label-hint">
        Minimal number of players: 2
        <br>Maximum number of players: 4
        <br>Current number of players: {{this.usersDataStreamService.players.length}}
    </div>
    
    <div class="buttons"> 
        <button routerLink="" class="add-btn" [disabled]="this.usersDataStreamService.players.length >= 20">Add player</button>
        <button routerLink="/settings" class="next-btn" [disabled]="this.usersDataStreamService.players.length < 2">Continue</button>
    </div>
</div>