<form class = "window">
    <div class="logo">
        <label class="label-app-name-1st-row">COUNT YOUR</label>
        <label class="label-app-name-2nd-row">POINTS</label>
        <label class="label-copyright">© SoftClub edition</label>
    </div>
 
    <label class="label-hint">Add a new player to start the game</label>
    <form  class="input-container" [formGroup] = "addUserForm">
        <label class="label-nickname" for="nickname" >Nickname</label>
        <input type="text" formControlName="nick">
        <div class="label-email-wrapper"> 
            <label class="label-email" for="email">e-mail</label>
        </div>
        <input type="text" formControlName="email">
    </form>  
    <button class="btn-add" type="button" (click)="addUser()" [disabled]="addUserForm.controls.nick.invalid || addUserForm.controls.email.invalid" >Add</button>

</form>