<div class = "window">
    <label class="label-app-name-1st-row">COUNT YOUR</label>
    <label class="label-app-name-2nd-row">POINTS</label>
    <label class="label-copyright">© SoftClub edition</label>
    <label class="label-hint">Add a new player to start the game</label>
    <div  class="input-container">
        <label class="label-nickname">Nickname</label>
        <input>
        <input>
        <label class="label-email">e-mail</label>
    </div> 
    <button class="btn-add">Add</button>
</div>