<form class = "window">
    <div class="logo">
        <label class="label-app-name-1st-row">COUNT YOUR</label>
        <label class="label-app-name-2nd-row">POINTS</label>
        <label class="label-copyright">© SoftClub edition</label>
    </div>
 
    <label class="label-hint">Add a new player to start the game</label>
    <div  class="input-container">
        <label class="label-nickname" for="nickname" >Nickname</label>
        <input type="text" [(ngModel)]="playerForm.nickName" id="nickname" name="nickname" maxlength="20">
        <div class="label-email-wrapper"> 
            <label class="label-email" for="email">e-mail</label>
        </div>
        <input type="text" [(ngModel)]="playerForm.eMail" id="email" name="email">
    </div>  
    <button class="btn-add" type="button" (click)="addUser()" [disabled]="checkEmptyInputs()" >Add</button>

</form>