@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.square{
    margin-top: 1px;
    margin-left: 3px;
    background-color: #ffcc40;
    width: 70px;
    height: 70px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
}

.square:hover{
    opacity: 0.6;
}

.square:disabled{
    cursor: default;
    background-color: rgba(128, 128, 128, 0.237);
    opacity: 0.3;
}

.current-square{
    background-color: rgba(8, 8, 255, 0.422);
    font-family: 'Silkscreen', cursive;
    font-size: large;
    color: black;
    margin-left: 8px;    
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 2em;
}

.square-complete{
    font-family: 'Silkscreen', cursive;
    font-size:large;
    background-color: rgba(255, 0, 0, 0.47);
    color: black;  
    margin-left: 8px;  
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 2em;
}   

.square-playable{
    background: rgb(0, 255, 0);
    margin-left: 8px;  
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 0.3;
}

.square-playable:hover{
    background: rgba(8, 8, 255, 0.422);
}

.square-unplayable{
    display: none;
    background-color:rgba(128, 128, 128, 0.261);
    margin-left: 8px;  
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
