@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Silkscreen:wght@400;700&display=swap');
body{
    background: #009ce6;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
}
::-webkit-scrollbar {
    width: 0;
}
/* GAME-logo design*/
.label-app-name-1st-row{
    position: absolute;
    /* margin-left: 60px; */
    font-size: 30px;
    font-weight: 300;
    color: #f2f2f2;
    letter-spacing: -1px;
}

.label-app-name-2nd-row{
    position: absolute;
    /* margin-left: 60px; */
    margin-top: 22px;
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    color: #f2f2f2;
    letter-spacing: -0.5px;
}

.label-copyright{
    font-size: 12px;
    color: #f2f2f2;
    position: absolute;
    /* margin-left: 135px; */
    margin-left: 4.55rem;
    margin-top: 80px;
}
/*////////////////////*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
